.page{

	background-color: #f7f8f9;
	height: 100vh;
	padding: 60px 0;
	text-align: center;

	&__header{
		
	}

	&__title{
		font-size: 1.8rem;
		font-family: $bold-font;
	}

	&__logo{
		height: 30px;
		width: 30px;
		object-fit: contain;
		object-position: center;
	}
}

.clear{
	clear: both;
}


.payment-card{
	padding: 60px;
	background-color: white;
	border-radius: 3px;
	margin-top: 30px;
	box-shadow: 0 3px 12px -2px rgba(0,0,0,0.08);
}

.switcher{
	border: 1px solid #003767;
	// display: inline-block;
	border-radius: 5px;
	position: relative;
	text-align: center;
	
	&__item{
		font-size: 1.2rem;
		text-transform: uppercase;
		display: inline-block;
		padding: 10px 0 8px;
		text-align: center;
		
		color: #003767;
		cursor: pointer;
		float:left;
		width: 50%;
		transition: all .3s;

		&:first-child{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child{
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		&--active{
			background-color: #003767;
			color: white;
			// border-color: #003767;
		}
	}

	&__divider{
		display: none;
	}
}

.payment-form-wrap{
	position: relative;
	width: 100%;
	min-height: 300px;
	overflow: hidden;
}


.payment-form{
	margin-top: 60px;
	position: absolute;
	top: 0;
	pointer-events: auto;
	opacity: 1;
	transition: all .3s;
	width: 100%;

	&.hidden{
		pointer-events: none;
		opacity: 0;
		transition: all .12s;
	}

	&--card{
		left: 0;

		&.hidden{ left: -10%; }
	}

	&--bank{
		right: 0;
		&.hidden{ right: -10%; }
	}


	&__group{
		text-align: left;
		position: relative;
		margin-bottom: 15px;

		&--with-borders{
			border: 1px solid #ddd;
			border-radius: 3px;
			padding: 35px 15px 10px;
		}

		&--half{
			width: 48.5%;
			float: left;
		}

		&--right{
			float: right;
		}
	}

	&__select{
		border: none;
		width: 100%;
		background-color: transparent;
		outline: none;
		margin-left: -6px;
	}

	&__label{
		position: absolute;
		top: 12px;
		left: 16px;
		font-size: 1.1rem;
		color: #999;
	}

	&__field{
		padding: 35px 15px 10px;
		width: 100%;
		border: 1px solid #ddd;
		border-radius: 3px;
		outline: none;
		font-family: $regular-font;
		transition: all 0.3s;

		&:focus{
			border-color: #09a5db;
		}
	}

	&__button{
		width: 100%;
		padding: 20px;
		border-radius: 3px;
		border: none;
		color: white;
		background-color: $green;

		font-family: $regular-font;

		&:disabled{
			background-color: $stack-lighter-gray;
		}
	}
}





